.App {
  text-align: center;
  background: #323947;
  /* background-image: url('../public/img/background-com.gif'); */
  background-size: cover; /* ครอบคลุมพื้นที่เนื้อหา */
  background-repeat: no-repeat; /* ไม่รีพีทภาพ */
  background-attachment: fixed; /* ทำให้พื้นหลังไม่เลื่อนเมื่อหน้าเลื่อน */
  color: #fff;
  cursor: url(/public/img/genshin.69b4156.png),auto;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-bar{
  background-color: black;
  color: #fff;
  padding: 10px;
  height: 50px;
  padding-Top: 30px;
  text-Align: start;
  position: fixed; /* ล็อคแถบ Navbar ด้านบน */
  top: 0; /* ตั้งค่าให้แถบ Navbar ติดอยู่ด้านบน */
  width: 100%; /* กำหนดความกว้างเต็มหน้าจอ */
}
